.footer{
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif, serif;

    background-color: #1c1920;
}
.nameFooter{
    margin: 0 auto;

}
.footerMenu{
    margin: 0 auto;

}
@media(max-width: 991px){
    .footer {

    }
}