.footer{
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif, serif;
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    margin-top: auto;
}
.nameFooter{
    margin-left: 100px;

}
.footerMenu{
    margin-left: 850px;
    margin-top: 15px;
}

