
.info{
    text-align: center;
    margin: 0 auto;
    color: #757575;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif, serif;
    margin-top: 20px;
}
.main{
    margin-top: 20px;
    height: fit-content;
}
.blocks{
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

.block{
    margin: 0 auto;
    width: 250px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: floralwhite;
    border-radius: 0.5rem;
    border-left: 0 #cf321d;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}
.block:hover {
    padding-left: 0.1rem;
    border-left: 0.5rem solid #cf321d;
}
.block > :first-child {
    margin-top: 0;
}
.block > :last-child {
    margin-bottom: 0;
}


.block{
    border-style: solid;
    border-color: #cf321d;
    list-style: none;
    margin: 0 auto;
}

@media(max-width: 990px){
    .info{
        font-size: 35px;
    }
    .description{
        font-size: 30px;
    }
    .block{
        width: 500px;
        margin-top: 100px;
    }
    .image{
        width: 500px;
    }
    .blocks{
        display: block;
    }
}
