.info{
    text-align: center;
    margin: 0 auto;
    color: #757575;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif, serif;
}

.blocks{
    display: flex;
    text-align: center;
    justify-content: center;
}


.block{
    border-style: solid;
    list-style: none;
    margin: 0 auto;
}



@media(max-width: 990px){
    .block1 img{
        margin: 0 auto;
        width: 400px;
        font-size: 20px;
    }
}
