.wtw1, .wtw2, .wtw3, .wtw4 {
    width:900px;
    padding: 20px;
}
.infoWtw {
    margin: auto;
    width: 900px;
    text-align: left;
}
.logoBtn{
    margin-top: 30px;
    margin-left: 100px;
    padding: 10px;
    width: 300px;
}
.functionsWtw{
    margin: auto;
    width: 900px;
    text-align: left;
    display: flex;
}


